.btn {
  &,
  &:link,
  &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4rem;
      display: inline-block;
      border-radius: 10rem;
      transition: all .2s;
      position: relative;
      font-size: $default-font-size;

      //Change for the <button> element
      border: none;
      cursor: pointer;
  }
  
  &:hover {
      transform: translateY(-3px);
   /* x-axis offset, y-axis offset, blur, shadow color (0,0,0)black and .2 is percentage (20%) */
      box-shadow: 0 1rem 2rem rgba($color-black,.2);

      &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
      }
  }
  
  &:active,
  &:focus {
      outline: none;
      transform: translateY(-1px);
      /* when the button is active we want the shawdow smaller so it seems closer to the page */

      box-shadow: 0 .5rem 1rem rgba($color-black,.2);
  }
  
  &--white {
      background-color: $color-white;
      color: $color-grey-dark;

      &::after {
          background-color: $color-white;
      }
  }

  &--green {
      background-color: $color-primary;
      color: $color-white;

      &::after {
          background-color: $color-primary;
      }
  }
  /* pseudo elements allow us to style only certain parts of elements */
/* a pseudo element essentially acts like a child element of the parent.  so if we say we want it to be 100% height, we want it to be 100% of the parent button */
  &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
  }
  
  &--animated {
      animation: moveInBottom .5s ease-out .75s;
      animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
      font-size: $default-font-size;
      color: $color-primary;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-primary;
      padding: 3px;
      transition: all .2s;
  }

  &:hover {
      background-color: $color-primary;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, .15);
      transform: translateY(-2px);
  }

  &:active {
      box-shadow: 0 .5rem 1rem rgba($color-black, .15);
      transform: translateY(0);
  }
}